body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

.gbXML{
  text-align: right;
}

.dataUpload{
  text-align: left;
}

#left {
  background-color: #E6E6E6;
  text-align: center;
  height:100%;
  overflow-y:scroll;
}

#middle {
  background-color: #CCCCCC;
  text-align: center;
  height:100%;
  overflow-y:scroll;
}

#right {
  height:100%;
  background-color: #B3B3B3;
  text-align: center;
  overflow-y:scroll;
}